@import "./parameters";

.header {
    padding: 2rem 0;
    margin: 0 auto;
    width: 100%;
}
.me {
    // padding:  0;
    // padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.texts{
    font-size: 0.7rem;
    width: 30%;
    text-transform: uppercase;
    text-align: start;

    .text{
        padding: 2px;
    }
}
.name{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    h1{
        font-size: auto;
    }
}
.pp {
    padding: 0 1rem;
}
.resume {
    .innera{
        width: 149.88px;

        font-size: 1.2rem;
        cursor: pointer;
        margin: auto ;
        display: flex;
        flex-direction: row;
        svg{
            width: 20px;
            fill: var(--texts);    
        }
    }
    padding: 0rem;
}
@media screen and (max-width: $mobile-w-b) {
    .header {
        padding: 0.5rem 0;
        width: 19.9rem;
    }
    .name {
        h1{
            font-size: 1.6rem;
        }
    }
    .texts {
        width: 30%;
        font-size: 0.6rem;

        text-align: start;
    }
    .resume {
        width: auto;
        .innera{
            margin: auto;
            font-size: 1rem;
            svg{
                width: 18px;
            }
        }
    }
}
