$desktop-w-s: 1024px;
$desktop-w-b: 1920px;
$desktop-h-s: 768px;
$desktop-h-b: 1080px;

$mobile-w-s: 360px;
// $mobile-w-b: 414px;
$mobile-w-b: 730px;
$mobile-h-s: 640px;
$mobile-h-b: 896px;

$tablet-w-s: 601px;
$tablet-w-b: 1280px;
$tablet-h-s: 962px;
$tablet-h-b: 800px;
